In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('NIKL_NP.csv')
df.head()

,Unnamed: 0,file_id,anno_level,category,title,author_id,author_age,author_occupation,author_sex,author_submission,author_handwriting,text_date,text_subclass,sentence
0,0,WDRW1900100013,원시,비출판물 > 수필,아내의 생일상,P00013,45,직장인/전문직,M,온라인,No,20200000,null_생일상,어제는 아내의 생일이었다. 생일을 맞이하여 아침을 준비하겠다고 오전 8시 30분부터...
1,1,WDRW1900100013,원시,비출판물 > 수필,아내의 생일상,P00013,45,직장인/전문직,M,온라인,No,20200000,null_생일상,"주된 메뉴는 스테이크와 낙지볶음, 미역국, 잡채, 소야 등이었다. 스테이크는 자주하..."
2,2,WDRW1900100013,원시,비출판물 > 수필,아내의 생일상,P00013,45,직장인/전문직,M,온라인,No,20200000,null_생일상,그런데 상상도 못한 일이 벌이지고 말았다. 보통 시즈닝이 되지 않은 원육을 사서 스...
3,3,WDRW1900100013,원시,비출판물 > 수필,아내의 생일상,P00013,45,직장인/전문직,M,온라인,No,20200000,null_생일상,앞면을 센불에 1분을 굽고 뒤집는 순간 방부제가 함께 구어진 것을 알았다. 아내의 ...
4,4,WDRW1900100013,원시,비출판물 > 수필,아내의 생일상,P00013,45,직장인/전문직,M,온라인,No,20200000,null_생일상,어처구니 없는 상황이 발생한 것이다. 방부제가 센불에 녹아서 그런지 물처럼 흘러내렸...

In [6]:
df1 = df[df['category'] == '비출판물 > 일기']
df1.head()

,Unnamed: 0,file_id,anno_level,category,title,author_id,author_age,author_occupation,author_sex,author_submission,author_handwriting,text_date,text_subclass,sentence
10,10,WDRW1900100023,원시,비출판물 > 일기,졸업,P00023,24,대학생/대학원생,F,온라인,No,20200000,학교,졸업식이 취소되어서 너무 아쉽다. 취소 이유는 중국 우한에서 처음 발병한 신종 코로...
26,26,WDRW1900100037,원시,비출판물 > 일기,58년 개띠,P00037,61,전업주부,M,온라인,No,20200000,null_노년기,살 다 보니 어느 새 현역에서 은퇴하여 손주를 보며 즐거워하는 나이가 되었다. 지난...
27,27,WDRW1900100037,원시,비출판물 > 일기,58년 개띠,P00037,61,전업주부,M,온라인,No,20200000,null_노년기,그러다가 어떤 계기가 되어 한 10년 열심히 해서 집 한 채 마련하여 평범한 삶을 ...
28,28,WDRW1900100037,원시,비출판물 > 일기,58년 개띠,P00037,61,전업주부,M,온라인,No,20200000,null_노년기,사람이 태어나 살아가면서 열심히 일하면 일한 만큼의 대가를 얻어 의식주에 대한 고민...
29,29,WDRW1900100037,원시,비출판물 > 일기,58년 개띠,P00037,61,전업주부,M,온라인,No,20200000,null_노년기,우리나라의 결혼식 문화는 한 번이라도 안면이 있는 사람은 본인 혹은 자녀의 결혼에 ...

In [7]:
df1.to_csv('diary.csv', index=False, encoding='utf-8-sig')

In [10]:
# file_id를 기준으로 sentence를 합치기
merged_df = df1.groupby(['author_age', 'author_sex', 'title', 'text_date'])['sentence'].apply(' '.join).reset_index()

merged_df.head()

# 새로운 CSV 파일로 저장
# merged_df.to_csv('merged_diary.csv', index=False, encoding='utf-8-sig')

,file_id,author_age,author_sex,title,text_date,sentence
0,WDRW1900100023,24,F,졸업,20200000,졸업식이 취소되어서 너무 아쉽다. 취소 이유는 중국 우한에서 처음 발병한 신종 코로...
1,WDRW1900100037,61,M,58년 개띠,20200000,살 다 보니 어느 새 현역에서 은퇴하여 손주를 보며 즐거워하는 나이가 되었다. 지난...
2,WDRW1900100044,27,F,일하기싫다,20200000,일이 하기 싫다. 오늘은 늦게 일어나서 지각을 할 뻔했지만 지각을 하지 않았다. 다...
3,WDRW1900100061,31,F,만약에 내가 로또에 당첨 된다면,20200000,만약에 내가 로또에 당첨된다면 난 그 돈으로 무엇을 할지 가끔 고민해본다. 로또에...
4,WDRW1900100063,39,F,40인생,20200000,어른들의 말이 문득 떠오른다... 크면 다 알게될꺼라는 말들 이제야 문득문득 어릴때...